.container__planetImage{
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: tada;
    animation-duration: 2s;
}

.container__planetImage img{
    height: 400px;
}

@media (max-width:1250px) {
    .container__planetImage{
        width: 100%;
    }
    .container__planetImage img{
        height: 300px;
    }   

}